<app-header></app-header>

<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/BusinessNews"> Business News</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/Politics"> Politics</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/Crime"> Crime </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/World"> World</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/Technology"> Technology</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/Sports"> Sports</a>  </td>
  
    
  </tr>
</table>
<hr/>

<router-outlet></router-outlet>